.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.displayer{
   
    margin: 10px;
}
.main{
    background-color: rgb(6, 34, 136);
    height: 400px;
    width: 200px;
}

.button{
    margin: 1px;
    background-color: bisque;
    padding: 5px 10px;
}